body {
    background-color: #BDECE3;
}

main {
    background-color: #F0FFFF;
    margin: auto;
    width: 70%;
}

main h1 {
    margin-left: 5%;
}

main h2 {
    margin-left: 10%;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav {
    height: 9%;
}

.menu {
    padding: 0px 15px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--principal);
    font-size: 18px;
}

.menu li {
    height: 100%;
}

.menu li a {
    width: 170px;
    height: 100%;

    color: var(--secundaria);
    background-color: var(--principal);

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s all;
}

.menu li ul {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
}

.menu li ul a {
    width: 150px;
    height: 40px;
    line-height: 40px;
}

.menu li a:hover {
    background-color: var(--ativa);
    color: var(--cor-principal);
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li img {
    width: 77px;
    height: 74px;
    margin: 5px 40px 0px 40px;
}
