body {
    background-color: #BDECE3;
}

main {
    background-color: #F0FFFF;
    margin: auto;
    width: 70%;
}

main h1 {
    margin-left: 5%;
}

main h2 {
    margin-left: 10%;
}

.box {
    float: right;
    text-align: right;
    width: 30%;
    height: auto;
    padding: 10px;
}

table {
    width: 100%;
}

td {
    width: 250px;
    height: 25px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

.box2 {
    float: left;
    align-items: left;
    width: 70%;
    height: 30px;
    text-align: right;
}

#botao1 {
    float: left;
    text-align: right;
}

#confirmar {
    background-color: #6DD6C2;
    border-radius: 8px;
    padding: 2px 22px;
    align-items: right;
    color: #333;
    font-weight: 600;
}

#botao2 {
    text-align: center;
}

#abrir {
    background-color: #FFD449;
    border-radius: 8px;
    padding: 2px 22px;
    align-items: right;
    color: #333;
    font-weight: 600;
}


.container form label {
    width: 150px;
    display: inline-flex;
    justify-content: right;
}

.container form input {
    width: 256px;
    height: 42px;
    padding: 0px 5px;
    background: #FFFFFF;
    border-radius: 11px;
    border: 1px solid #333;
    font-size: 20px;
    margin: 10px 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.container form button {
    width: 192px;
    height: 58px;

    background: #FFCB21;
    border-radius: 16px;
    border: 0px;

    margin-top: 60px;
    margin-bottom: 40px;

    text-align: -webkit-center;
    font-size: 18px;
    font-weight: 600;
    color: #333;

    transition: all 0.2s;
    cursor: pointer;
}

.container form button:hover {
    background-color: #D38200;
}

/* to-do: fix the media for mobile
/*@media only screen and (max-device-width : 767px) {
    
}*/