form label {
    width: 150px;
    display: inline-flex;
    justify-content: right;
}

form input {
    width: 256px;
    height: 42px;
    padding: 0px 5px;
    background: #FFFFFF;
    border-radius: 11px;
    border: 1px solid #333;
    font-size: 20px;
    justify-content: center;
    margin: 10px 0px;
}

form select {
    width: 250px;
    height: 42px;
    padding: 0px 5px;
    background: #FFFFFF;
    border-radius: 11px;
    border: 1px solid #333;
    font-size: 20px;
    justify-content: center;
    margin-left: 15px;
}

form {
    width: 70%;
}

.container {
    display: flex;
    justify-content: center;
}

form button {
    width: 192px;
    height: 58px;

    background: #FFCB21;
    border-radius: 16px;
    border: 0px;

    margin-top: 60px;
    margin-bottom: 40px;

    text-align: -webkit-center;
    font-size: 18px;
    font-weight: 600;
    color: #333;

    transition: all 0.2s;
    cursor: pointer;
}

form button:hover {
    background-color: #D38200;
}